{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decision Page
{% endblock %}

{% block styles %}
	<style type="text/css">
	   .page-header {
	   		padding-top: 0px;
	   }


		#sigma-container {
			height:400px;
			width:960px;
		}

		.links line {
		  stroke: #999;
		  stroke-opacity: 0.6;
		}

		.nodes circle {
		  stroke: #fff;
		  stroke-width: 1.5px;
		}
	
    </style>
{% endblock %}
{% block scripts %}
	<script src="{% static "sigma.min.js" %} "></script>

	<script type="text/javascript">
		$('.page-header').css('padding-top','0px')
		data = {{data | safe}}
		if ("{{treatment}}" == "network"){
			s = new sigma({ 
	        graph: {{data | safe}},
	        container: 'sigma-container',
	        settings: {
	            defaultNodeColor: '#ec5148'
	        }
	        });
	    } else {
	    	$('#sigma-container').css('height','0px')
	    }
	</script>
{% endblock %}

{% block content %}
	<div class="col-xs-12">
		<div id="sigma-container"  width="960px" height="600px">
			
		</div>
	</div>
	{% if role != "source"  and role != "destination" %}
		{% formfield player.overrun with label="What's your price?" %}
		{% next_button %}
	{% else %}
		<h4> You are the {{role}} so you don't play this round 
	{% endif %}	
    
{% endblock %}
