{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    SECOND PHASE
{% endblock %}

{% block content %}
<p align="justify">
	The rounds of the first phase have finished. Now, the second phase starts.
</p>
<p align="justify">
	In this second phase, you will not know the details of who is connected to whom. In other words, you will not see the network in the screen. The 12 players, you included, will be randomly located in <b>new locations of the network </b>. As before, these positions will remain constant over all the rounds of this phase. As in the previous phase, at each round, two players will be assigned as Source (<b>S</b>) and Destination (<b>D</b>) respectively. You will be informed if you play the role of <b>S</b> or <b>D</b>, but not about the positions of the rest of players. The game is the same as the previous phase in all other respects. 
</p>
<p align="justify">
	At the end of the round, you will be informed about whether there has been a deal and about the prices and payoffs of all players.
</p>
<p align="justify">
	Please, click NEXT to start.
</p>	

{% next_button %}

{% endblock %}