{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results Page
{% endblock %}

{% block styles %}
	<style type="text/css">
	   .page-header {
	   		padding-top: 0px;
	   }

		#sigma-container {
			height:480px;
			width:960px;
		}

		.links line {
		  stroke: #999;
		  stroke-opacity: 0.6;
		}

		.nodes circle {
		  stroke: #fff;
		  stroke-width: 1.5px;
		}
	
    </style>
{% endblock %}
{% block scripts %}
	<script src="{% static "sigma.min.js" %} "></script>

	<script type="text/javascript">
		if ("{{treatment}}" == "network"){
			data = {{data | safe}}
			s = new sigma({ 
	        graph: {{data | safe}},
	        container: 'sigma-container',
	        settings: {
	            defaultNodeColor: '#ec5148',
	            labelSize: 'fixed'
	        }
	        });
	    } else {
	    	$('#sigma-container').css('height','0px');
	    }

	</script>
{% endblock %}

{% block content %}
	<div class="col-xs-12">
		<div id="sigma-container"  width="960px" height="600px">
			
		</div>
	</div>
	<div class="col-xs-12">
		{% if group.deal %}
			<h4 class="alert-success">There has been a deal</h4>	
			{% if subsession.round_number < Constants.treatment_change_round %}
				<p> The selected path is: {{ selected_path }}</p>
			{% endif %}

			
		{% else %}
			<h4 class="alert-warning">There hasn't been a deal</h4>

		{% endif %}
	</div>
	<div class="table-responsive" class="col-xs-12">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Role</th>
            		<th class="text-center">Overrun</th>
                    <th class="text-center">Payoff</th>
                </tr>
            </thead>
            <tbody>
            	{% if fake_players %}
            			<tr>
	            			<td>0</td>
	            			<td>source</td>
	            			<td>0 points</td>
	            			<td>{{fake_players_payoff}} points</td>
	            		</tr>
	            {% endif %}
            	{% for p in players %}
            		{% if p == player %}
	            		<tr class="alert-success">
	            			<td>{{p.id_in_group}} YOU</td>
	            			<td>{{p.role}}</td>
	            			<td>{{p.overrun}}</td>
	            			<td>{{p.payoff}}</td>
	            		</tr>
            		{% else %}
            			<tr>
	            			<td>{{p.id_in_group}}</td>
	            			<td>{{p.role}}</td>
	            			<td>{{p.overrun}}</td>
	            			<td>{{p.payoff}}</td>
            			</tr>
            		{% endif %}
            		
            	{% endfor %}
            	{% if fake_players %}
            			<tr>
	            			<td>13</td>
	            			<td>destination</td>
	            			<td>0 points</td>
	            			<td>{{fake_players_payoff}} points</td>
	            		</tr>
	            {% endif %}
            </tbody>
        </table>
    </div>

	
    {% next_button %}
{% endblock %}


