{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Soluciones a las preguntas de la Fase I.
{% endblock %}

{% block content %}


    <p>
        Tu respuesta <span  class="text-info">{{ player.questionsI2 }}</span> es {% if player.questionsI2_correct %}<span class="text-success">correcta</span>{% else %}<span class="text-danger">incorrecta</span>{% endif %}.
    </p>
    <p>
        Explicación:
    </p>
    <p>
        Supongamos que contribuyes 0 puntos al fondo común, y la suma de las contribuciones al fondo común de todos los participantes es 20. ¿Cuántos puntos ganas al final de esta ronda?
        <br><strong>Mantienes los 10 puntos que se te dieron al inicio y obtienes 10 puntos del fondo común. En total ganas 20 puntos al final de esta ronda.</strong></br>
    </p>

    {% next_button %}

    {% include 'PGG/Instructions.html' %}

{% endblock %}
