{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Soluciones a las preguntas de la Fase II.
{% endblock %}

{% block content %}


    <p>
        Tu respuesta <span  class="text-info">{{ player.questionsII9 }}</span> es {% if player.questionsII9_correct %}<span class="text-success">correcta</span>{% else %}<span class="text-danger">incorrecta</span>{% endif %}.
    </p>
    <p>
        Explicación:
    </p>
    <p>
        Supongamos que tu tipo es C y el tipo de tu compañero es D. Tu eliges Y y tu compañero elige Y. ¿Cuántos ECUs consigues al final de esta ronda?
        <br><strong>Consigues 2x3 = 6 ECUs y tu compañero consigue 2x2 = 4 ECUs.</strong></br>
    </p>

    {% next_button %}

    {% include 'APD/Instructions2.html' %}

{% endblock %}
