{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Soluciones a las preguntas de la Fase I.
{% endblock %}

{% block content %}


    <p>
        Tu respuesta <span  class="text-info">{{ player.questionsI6 }}</span> es {% if player.questionsI6_correct %}<span class="text-success">correcta</span>{% else %}<span class="text-danger">incorrecta</span>{% endif %}.
    </p>
    <p>
        Explicación:
    </p>
    <p>
{% if group.treatment == 'group' %} 
Supongamos que tu grupo acaba en la quinta posición según las ganancias obtenidas, y que tu eres el segundo que más puntos ha ganado dentro de tu grupo.

{% else %}
Supongamos que según los puntos que has obtenido en la Fase I has acabado en la posición 15.

{% endif %}

¿Cuál sera tu tipo para la Fase II?

        <br><strong>Tu tipo es C.</strong></br>
    </p>

    {% next_button %}

    {% include 'PGG/Instructions.html' %}

{% endblock %}
