{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Fase I. Elige tu contribución. {% endblock %}

{% block content %}
	
	<!-- FOR DEBUGGING PURPOSES

	{{subsession.round_number}}
	<p>
	    This is a game with {{Constants.players_per_group}} players per group,
	    an endowment of {{ Constants.endowment }},
	    and an efficiency factor of {{ Constants.multiplication_factor }}.
	</p>

	</p>
	    You are playing the {{group.treatment}} game. 
	    
		{% if group.treatment == 'group' %} Bla bla bla. Group cummulative earnings is {{player.participant.vars.groupal_payoff}}.
		{% else %} Bla bla bla Individual competition. 
		{% endif %}
	</p>
	-->
	<p ALIGN=justify>
		{% if subsession.round_number > 1 %} Tus ganancias en la ronda anterior son {{player.participant.vars.prev_payoff}} y tus ganancias acumuladas son {{player.participant.vars.cumulative_payoff}}. 

		<br>Ahora tienes que tomar una nueva decisión.</b>
		{% endif %}
	    
	    <!--TThis is round {{subsession.round_number}} of {{Constants.num_rounds}} rounds.-->
	</p>


	{% formfield player.contribution %}
	

	{% next_button %}
	{% include 'PGG2/Instructions_short.html' %}


{% endblock %}