{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Resultados de la Fase I. {% endblock %}

{% block content %}

<p>
	Tus ganancias acumuladas son {{player.participant.vars.cumulative_payoff}}. {% if group.treatment == 'group' %} Tu grupo ha conseguido la posición {{player.participant.vars.group_rank}}, y dentro del grupo tu has conseguido la posición {{player.participant.vars.ind_rank_in_group}}.{% endif %}
</p>

<!-- FOR DEBUGGING PURPOSES
<p>
    Hierarchy {{player.participant.vars.hierarchy}}
    {% if group.treatment == 'group' %} Groupal {{player.participant.vars.groupal_payoff}} , , Combined {{player.participant.vars.combined_payoff}} .
    {% endif %}
</p>
-->
<p>
Como resultado, tu tipo es <b>{{player.participant.vars.profile}}</b>. 
</p>

{% next_button %}

{% endblock %}