{% extends "global/Instructions.html" %} {% load staticfiles otree_tags %}


{% block instructions %}

<p ALIGN=justify>
<b>Nota importante</b>: Los puntos que consigas en la primera fase no van a ser convertidos a dinero real.
</p>

<p ALIGN=justify>
Los puntos que todos los participantes en el mismo grupo hayan invertido en el fondo común serán sumados y después multiplicados por {{Constants.multiplication_factor}}, y este fondo común será posteriormente repartido a partes iguales entre todos los miembros del grupo, incluido tu.
</p>
<p ALIGN=justify>
Al final de esta fase se te asignará un "tipo" de acuerdo al numero de puntos que
{% if group.treatment == 'group' %}tu y tu grupo hayáis conseguido.
{% else %}hayas conseguido.
{% endif %}
</p>

<p ALIGN=justify>
{% if group.treatment == 'group' %} 
<center> <img src={% static "PGG/group_esp.png" %} height="30%" width="30%"/> </center>
El primer grupo (fondo blanco) es el grupo que haya obtenido las mayores ganancias. El participante que haya obtenido mayores ganacias dentro de cada grupo está representado por un "1".


{% else %} 

El participante que haya conseguido más puntos está representado en la figura por un "1" y el que ha conseguido menos puntos está representado por un "24".
<center> <img src={% static "PGG/individual_esp.png" %} height="30%" width="30%"/> </center>

{% endif %}
</p>

{% endblock %}
