{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas de la Fase I.
{% endblock %}

{% block content %}
<p>
Supongamos que contribuyes 6 puntos al fondo común, y la suma de las contribuciones al fondo común de todos los participantes es 24.
</p>

    {% formfield player.questionsI4 with label="¿Cuántos puntos ganas al final de esta ronda?" %}


<p>
</p>
{% next_button %}

{% include 'PGG/Instructions.html' %}



{% endblock %}
