{% extends "global/Instructions.html" %}

{% block instructions %}

    <p ALIGN=justify>
    Esta fase está compuesta de {{Constants.num_phases}} etapas. Cada etapa está formada por al menos 5 rondas.
    En cada esta, serás emparejado con un participante diferente, de aquí en adelante llamado tu <i>compañero</i>. Tu y tu compañero tendréis que elegir una opción cada uno de entre las dos opciones siguientes:
    <P ALIGN=center> <b>X</b> o <b>Y</b>.
    <p>Estas decisiones afectarán tanto a tus ganancias como a las de tu compañero.
    </p>
    <p ALIGN=justify>
    Tanto tu como tu compañero tenéis asignado un multiplicador <i>m</i> den función del tipo que hayáis obtenido en la Fase I. Llamemos tu multiplicador <b>m1</b> y el multiplicador de tu compañero <b>m2</b>. En la siguiente tabla se puede ver una correspondencia entre multiplicadores y tipos.
   
   
<!--     <table class='table table-bordered text-center' style='width: auto; margin: auto'>
        <tr>
            <th colspan=1> Tipo </th>
            <th colspan=1> Multiplicador <i>m</i> </th>
        </tr>
        <tr>
            <th style = "text-align: center;">A</th>
            <td>{{Constants.A_multiplier}} </td>
        </tr>
        <tr>
            <th style = "text-align: center;">B</th>
            <td>{{Constants.B_multiplier}} </td>
        </tr>
        <tr>
            <th style = "text-align: center;">C</th>
            <td>{{Constants.C_multiplier}} </td>
        </tr>
        <tr>
            <th style = "text-align: center;">D</th>
            <td>{{Constants.D_multiplier}} </td>
        </tr>
    </table>  -->

        <table class='table table-bordered text-center' style='width: auto; margin: auto'>
        <tr>
            <th style = "text-align: center;"> Tipo </th>
            <td style = "text-align: center;">A</td>
            <td style = "text-align: center;">B</td>
            <td style = "text-align: center;">C</td>
            <td style = "text-align: center;">D</td>
        </tr>
        <tr>
            <th colspan=1> Multiplicador <i>m</i> </th>
            <td>{{Constants.A_multiplier}} </td>
            <td>{{Constants.B_multiplier}} </td>
            <td>{{Constants.C_multiplier}} </td>
            <td>{{Constants.D_multiplier}} </td>
        </tr>
    </table> 
    </p>

    <p ALIGN=justify>
    A continuación se explican las ganancias para cada posible combinación de tu decisión y la decisión de tu compañero, teniendo en cuenta tu multiplicador <i>m1</i> y el multiplicador de tu compañero <i>m2</i>:
    <ul>
    <li>Si eliges X, y tu compañero elige X: ganas {{Constants.X_amount}} <i>x</i> <b>m1</b> ECUs y tu compañero gana {{Constants.X_amount}} <i>x</i> <b>m2</b> ECUs.</li>
    <li>Si eliges X, y tu compañero elige Y: ganas {{Constants.X_Y_amount}} <i>x</i> <b>m1</b> ECUs y tu compañero gana {{Constants.Y_X_amount}} <i>x</i> <b>m2</b> ECUs.</li>
    <li>Si eliges Y, y tu compañero elige X: ganas {{Constants.Y_X_amount}} <i>x</i> <b>m1</b> ECUs y tu compañero gana {{Constants.X_Y_amount}} <i>x</i> <b>m2</b> ECUs.</li>
    <li>Si eliges Y, y tu compañero elige Y: ganas {{Constants.Y_amount}} <i>x</i> <b>m1</b> ECUs y tu compañero gana {{Constants.Y_amount}} <i>x</i> <b>m2</b> ECUs.</li>
    </ul>
    </p>

    <p ALIGN=justify>
    Para tu comodidad, una versión resumida de las instrucciones permanecerá disponible durante toda la Fase II.
    </p>
{% endblock %}
