{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results
{% endblock %}

{% block content %}



    <p>
        
        You chose to {{ my_decision }} and your neighbors: 
        <ul>
            {% for key,value in neighbors_decision.items %}
                <li>Player {{key}} chose to {{value}} </li>
            {% endfor %}
        </ul>
        
    </p>

    <table class="table" style="width:400px; margin-top:20px; margin-bottom:10px">
        <tr>
            <td>As a result, you earned</td>
            <td>{{ player.payoff }}</td>

        </tr>
        <tr>
            <td>In addition, you get a participation fee of</td>
            <td>{{ Constants.base_points }}</td>
        </tr>
        <tr>
            <td>In total, you receive</td>
            <td>{{ total_plus_base }}</td>
        </tr>
    </table>

    {% next_button %}

    {% include 'prisoner/Instructions.html' %}

{% endblock %}
