{% extends "otree/admin/Session.html" %}
{% load staticfiles %}

{% load floppyforms otree_tags %}
{% block internal_styles %}
    {{ block.super }}
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block internal_scripts %}
{{ block.super }}
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script>
    $(function () {
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd hh:ii:00",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            startDate: "2016-01-01 00:00"
        });
        
    });
</script>
{% endblock %}
{% block content %}
{{ block.super }}
    {% include "otree/includes/messages.html" %}
    {% form form using "floppyforms/layouts/bootstrap.html"%}

    {% next_button %}

{% endblock %}
