{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

   <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Please wait</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger error-notice" style="display:none">
                An error occurred. Please check the logs or ask the administrator for help.
            </div>
            
            <p>Waiting for the other participants to join the experiment.</p>
            
            <div class="progress progress-striped active" id="waitingIndicator">
                <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
    </div>

{% endblock %}
