{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Solution to Understanding Question {{ num_q }} of {{ total_q }}
{% endblock %}

{% block content %}
    {% if num_q == 1 %}
        <p>
            {{ question }}
        </p>

        <p>
            You answered: {{ player.training_question_1 }}
        </p>

        {% if player.is_training_question_1_correct %}
            <p class="text-success">Your answer is correct.</p>

        {% else %}
            <p class="text-danger">Your answer is incorrect. {{ Constants.training_1_correct }}.</p>
        {% endif %}
    {% elif num_q == 2 %}
        <p>
            {{ question }}
        </p>

        <p>
            You answered: {{ player.training_question_2 }}
        </p>

        {% if player.is_training_question_2_correct %}
            <p class="text-success">Your answer is correct.</p>

        {% else %}
            <p class="text-danger">Your answer is incorrect. {{ Constants.training_2_correct }}.</p>
        {% endif %}

    {% endif %}

    {% next_button %}

    {% include 'forecast/Instructions.html' %}

{% endblock %}
