{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <h3>General information</h3>
        <p>
        You are a financial advisor to a pension fund that wants to optimally invest a large

        amount of money. The pension fund has two investment options: a risk free 

        investment and a risky investment. The risk free investment is putting all money on a 

        bank account paying a fixed and known interest rate. The alternative risky investment 

        is an investment in the stock market with uncertain return. In each time period the 

        pension fund has to decide which fraction of its money to put on the bank account and 

        which fraction of the money to spend on buying stocks. In order to make an optimal 

        investment decision the pension fund needs an accurate prediction of the price of the 

        stock. As their financial advisor, you have to predict the stock market price during 51 

        subsequent time periods. Your earnings during the experiment depend upon your 

        forecasting accuracy. The smaller your forecasting errors are in each period, the 

        higher your total earnings are.
        </p>
    

    <h3>Forecasting task of the financial advisor</h3>
        <p>
            The only task of the financial advisors in this experiment is to forecast the stock 

            market index in each time period as accurate as possible. The stock price has to be 

            predicted two time periods ahead. At the beginning of the experiment, you have to 

            predict the stock price in the first two periods. It is very likely that the stock price will 

            be between 0 and 100 in the first two periods. After all participants have given their 

            predictions for the first two periods, the stock market price for the first period will be 

            revealed and based upon your forecasting error your earnings for period 1 will be 

            given. After that you have to give your prediction for the stock market index in the 

            third period. After all participants have given their predictions for period 3, the stock 

            market index in the second period will be revealed and, based upon your forecasting 

            error your earnings for period 2 will be given. This process continues for 51 time 

            periods.
        </p>
        <p>
            The available information for forecasting the stock price in period t consists of
            <ul>
                <li>all past prices up to period t − 2, and</li>
                <li>past predictions up to period t − 1, and</li>
                <li>total earnings up to period t – 2</li>
            </ul>

        </p>
        <p>
            Please note that due to liquidity constraint, your pension fund can only buy and sell 

            up to a maximum amount of assets in each period. This means although you can 

            submit any prediction for period 2 and all periods after period 2, if the price in the last 

            period is pt-1, and your prediction is pet+1: the fund's trading decision is constrained by 

            pet in [pt-1 - 30; pt-1+ 30]. More precisely, the fund will trade as if pet+1 = pt-1+30 if pet+1 > 

            pt-1+30, and trade as if pet+1 = pt-1-30 if pet+1 < pt-1-30.
        </p>
        <p>
            Throughout the experiment you might receive news from financial experts about the 

            state of the stock market. When news is given to participants, each subject will 

            receive them only with 25% probabilities. Whether you receive the news does not 

            depend on whether other subjects receive the information. Note that it is also possible 

            that you do not receive any news during the 51 periods.
        </p>
    <h3>Information about the stock market.</h3>
        <p>
           The stock market price is determined by equilibrium between demand and supply of

            stocks. The stock market price in period t will be that price for which aggregate 

            demand equals supply. The supply of stocks is fixed during the experiment. The 

            demand for stocks is determined by the aggregate demand of a number of large 

            pension funds active. There are about 100 pension funds in the stock market. Each 

            pension fund is advised by a participant of the experiment (note that another group of 

            participants sit in another lab at another location due to lab capacities). 
        </p>
    <h3>Information about the investment strategies of the pension funds.</h3>
        <p>
            The precise investment strategy of the pension fund that you are advising and the

            investment strategies of the other pension funds are unknown. The bank account of 

            the risk free investment pays a fixed interest rate of 5% per time period. The holder of 

            the stock receives a dividend payment in each time period. These dividend payments 

            are uncertain however and vary over time. Economic experts of the pension funds 

            have computed that the average dividend payments are 3.5 euro per time period. The 

            return of the stock market per time period is uncertain and depends upon (unknown) 

            dividend payments as well as upon price changes of the stock. As the financial 

            advisor of a pension fund you are not asked to forecast dividends, but you are only 

            asked to forecast the price of the stock in each time period. Based upon your stock 

            market price forecast, your pension fund will make an optimal investment decision. 

            The higher your price forecast is, the larger will be the fraction of money invested by 

            your pension fund in the stock market, so the larger will be their demand for stocks. 

            The higher the average demand for stocks is, the higher the realized price will be on 

            the market.
        </p>
    <h3>Earnings.</h3>
        <p>
            Your earnings depend only on the accuracy of your predictions. The earnings shown

            on the computer screen will be in terms of points. If your prediction is pet and the price 

            turns out to be pet in period t, your earnings are determined by the following equation:

            Payoff = max [1300-1300/49(pet - pt)2, 0]

            The maximum possible points you can earn for each period (if you make no 

            prediction error) is 1300, and the larger your prediction error is, the fewer points you 

            can make. You will earn 0 points if your prediction error is larger than 7. There is a 

            Payoff Table on your table, which shows the points you can earn for different 

            prediction errors.

            We will pay you in cash at the end of the experiment based on the points you earned. 

            You earn 1 euro for each 2600 points you make.
        </p>
    

    {% next_button %}

    


{% endblock %}