{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results
{% endblock %}





{% block content %}
    <p> You have finished the experiment </p>
    <p>
        Your payoff from the market is {{ payoff_in_session }}.<br>
        In addition, you received {{ player.participant.session.participation_fee }} for participation. Thus, your total payoff is {{ total_payoff }}.<br>
    </p>

    {% next_button %}
{% endblock %}
