{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Soluciones a las preguntas de la Fase I.
{% endblock %}

{% block content %}


    <p>
        Tu respuesta <span  class="text-info">{{ player.questionsI3 }}</span> es {% if player.questionsI3_correct %}<span class="text-success">correcta</span>{% else %}<span class="text-danger">incorrecta</span>{% endif %}.
    </p>
    <p>
        Explicación:
    </p>
    <p>
        Supongamos que contribuyes 10 puntos al fondo común, y la suma de las contribuciones al fondo común de todos los participantes es 30. ¿Cuántos puntos ganas al final de esta ronda?
        <br><strong>Mantienes 0 puntos de los que se te dieron al inicio y obtienes 15 puntos del fondo común. En total ganas 15 puntos al final de esta ronda.</strong></br>
    </p>

    {% next_button %}

    {% include 'PGG/Instructions.html' %}

{% endblock %}
