{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Preguntas de la Fase II.
{% endblock %}

{% block content %}
<p>
Las siguientes preguntas están relacionadas con la Fase II:
</p>
<p>
Supongamos que tu tipo es B y el tipo de tu compañero es C. Tu eliges X y tu compañero elige Y.

</p>
    {% formfield player.questionsII7 with label="¿Cuántos ECUs consigues al final de esta ronda?" %}


<p>
</p>
{% next_button %}

{% include 'APD/Instructions2.html' %}



{% endblock %}
