{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block title %}
    {% trans "instructions_title" %}
{% endblock %}

{% block content %}

	
	<p>{% trans "instructions_p1" %}</p>
	<p>{% trans "instructions_p2" %}</p>
	<p>{% trans "instructions_p3" %}</p>

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}