{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block title %}
 	{% blocktrans %} Round {{round_number}} of experiment {{experiment_number}} {% endblocktrans %}
{% endblock %}

{% block styles %}
	<style type="text/css">
	   .page-header {
	   		padding-top: 0px;
	   }

		#sigma-container {
			height:480px;
			width:600px;
		}

		.links line {
		  stroke: #999;
		  stroke-opacity: 0.6;
		}

		.nodes circle {
		  stroke: #fff;
		  stroke-width: 1.5px;
		}
		.red {
		  border:none;
		  border-top:4px dotted #f00;
		  color:#fff;
		  background-color:#fff;
		  width:100%;
		}
		.blue {
		  border:none;
		  border-top:4px solid #00f;
		  color:#fff;
		  background-color:#fff;
		  width:100%;
		}
	
    </style>
{% endblock %}
{% block scripts %}
	<script src="{% static "sigma.min.js" %} "></script>
	<script src="{% static "sigma.canvas.edges.dotted.js" %} "></script>
	<script src="{% static "sigma.canvas.edges.dashed.js" %} "></script>
	<script src="{% static "sigma.canvas.labels.def.js" %} "></script>

	<script type="text/javascript">
		link_shortest_path_color = '#f00'
		link_shortest_player_path_color = '#00f'
		data = {{data | safe}}
		for (i=0; i < data.nodes.length; i++) {
			if (data.nodes[i]['id'] === '{{id_in_group}}'){
				data.nodes[i]['color'] = '{{player_color}}';
				if ("{{result}}" != "True") {
					data.nodes[i]['label'] += "{{you_label}}";
				}

			}
		}
		if ("{{result}}" === "True") {
			var path = {{player_path}};
			max_id = 0
			for (i=0; i < path.length - 1; i++) {
				source = path[i].toString()
				target = path[i+1].toString()
				for (j=0; j < data.edges.length; j++) {
					if (parseInt(data.edges[j]['id']) > max_id ){
						max_id=parseInt(data.edges[j]['id'])
					}
					if ((data.edges[j]['source'] === source && data.edges[j]['target'] === target) || (data.edges[j]['target'] === source && data.edges[j]['source'] === target)){
						data.edges[j]['type'] = 'line';
						data.edges[j]['color'] = link_shortest_player_path_color; 
					}
				}
			}
			{% if path %}
				var path = {{path}};
				h = max_id + 1;
				new_edges = []
				for (i=0; i < path.length - 1; i++) {
					source = path[i].toString()
					target = path[i+1].toString()
					for (j=0; j < data.edges.length; j++) {
						if ((data.edges[j]['source'] === source && data.edges[j]['target'] === target) || (data.edges[j]['target'] === source && data.edges[j]['source'] === target)){
							if (data.edges[j]['color']==link_shortest_player_path_color) {
								new_edge = {'id': h.toString(), 'source': data.edges[j]['source'], 'target': data.edges[j]['target'], 'color': link_shortest_path_color, 'type': 'dashed', 'size': 4}
								h += 1;
							new_edges.push(new_edge)
							} else {
								data.edges[j]['type'] = 'dashed';
								data.edges[j]['size'] = 4;
							    data.edges[j]['color'] = link_shortest_path_color;	

							}
							//data.edges[j]['type'] = 'dashed';
							//data.edges[j]['color'] = link_shortest_path_color;
						}
					}
				}
				for (j=0; j < new_edges.length; j++) {
					data.edges.push(new_edges[j])
				}	
			{% endif %}
		}
		
		s = new sigma({ 
        graph: data,
        container: 'sigma-container',
        renderer: {
        	type: 'canvas',
        	container: document.getElementById('sigma-container')
        },
        settings: {
            defaultNodeColor: '#ec5148',
            borderSize: 1,
            zoomingRatio:  '1',
            minEdgeSize: 1,
            maxEdgeSize: 3,
            minNodeSize: 15,
            maxNodeSize: 15,
            labelAlignment: 'inside',
            doubleClickEnabled: false,
            mouseEnabled: false,
        }
        });


	</script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-9">
			<div id="sigma-container"  width="600px" height="600px">
				
			</div>
		</div>
		<div class="col-xs-3">
			{% if result %}
				{% if deal %}
				<div class="row">
					<div class="col-xs-12">			
						<h4 class="alert-success">{% trans "result_deal" %}</h4>	
						<h4> {% trans "result_payoff_round" %} {{payoff}} </h4>
					</div>
				</div>
					<div class="row"><div class="col-xs-3"><hr class="red"></div><div class="col-xs-9">{% blocktrans %}SELECTED Cheapest path (cost= {{total_cost}}) {% endblocktrans %}</div></div>
					<div class="row"><div class="col-xs-3"><hr class="blue"></div><div class="col-xs-9">{% blocktrans %}Cheapest path going through your node (cost= {{p_total_cost}}){% endblocktrans %}</div></div>

					
				{% else %}
					<h4 class="alert-warning">{% trans "result_no_deal" %}</h4>
					<h4> {% trans "result_payoff_round" %} 0 </h4>

				{% endif %}
			{% endif %}
			<div class="row">
				<div class="col-xs-12">
					{% if role != "source"  and role != "destination" %}
						{% trans "your_price" as w%}
						{% formfield player.overrun %}
						{% next_button %}
					{% else %}
						<h4> {% trans "no_play" %}
					{% endif %}	
				</div>
			</div>
		</div>
		
	<div>	

	
    
{% endblock %}


