{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Fase II. Etapa {{stage}}. 
{% endblock %}

{% block styles %}

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>

{% endblock %}

{% block content %}
<p ALIGN=justify> 
    {% if subsession.round_number == 1 %}Ahora empieza la Fase II.<br></br>{% endif %}

    {% if stage > 1 %}
    La etapa {{prev_stage}} Ha finalizado. Tus ganancias de la última ronda fueron {{player.participant.vars.prev_payoff}} ECUs y las ganancias de tu compañero fueron {{player.participant.vars.partner_prev_payoff}} ECUs. Tus ganancias acumuladas en esta fase han sido {{player.participant.vars.prev_stage_ECUs}} ECUs. 
    {% endif %}
</p>
<p ALIGN=justify>
    Ahora empieza la etapa {{stage}}. Tu tipo es {{player.participant.vars.profile}} y vas a ser emparejado con un participante de tipo {{player.participant.vars.partner_profile}}.
</p>
{% if subsession.round_number == 1 %}
{% include 'APD/Instructions2.html' %}
{% endif %}

{% next_button %}

{% endblock %}
