{% extends "global/Instructions.html" %}

{% block instructions %}

    <p ALIGN=justify>
     <p ALIGN=justify>
    <ul>
    <li>Si eliges X, y tu compañero elige X: ganas {{Constants.X_amount}} <i>x</i> <b>m1</b> ECUs y tu compañero gana {{Constants.X_amount}} <i>x</i> <b>m2</b> ECUs.</li>
    <li>Si eliges X, y tu compañero elige Y: ganas {{Constants.X_Y_amount}} <i>x</i> <b>m1</b> ECUs y tu compañero gana {{Constants.Y_X_amount}} <i>x</i> <b>m2</b> ECUs.</li>
    <li>Si eliges Y, y tu compañero elige X: ganas {{Constants.Y_X_amount}} <i>x</i> <b>m1</b> ECUs y tu compañero gana {{Constants.X_Y_amount}} <i>x</i> <b>m2</b> ECUs.</li>
    <li>Si eliges Y, y tu compañero elige Y: ganas {{Constants.Y_amount}} <i>x</i> <b>m1</b> ECUs y tu compañero gana {{Constants.Y_amount}} <i>x</i> <b>m2</b> ECUs.</li>
    </ul>
    </p>

        <table class='table table-bordered text-center' style='width: auto; margin: auto'>
        <tr>
            <th style = "text-align: center;"> Tipo </th>
            <td style = "text-align: center;">A</td>
            <td style = "text-align: center;">B</td>
            <td style = "text-align: center;">C</td>
            <td style = "text-align: center;">D</td>
        </tr>
        <tr>
            <th colspan=1> Multiplicador <i>m</i> </th>
            <td>{{Constants.A_multiplier}} </td>
            <td>{{Constants.B_multiplier}} </td>
            <td>{{Constants.C_multiplier}} </td>
            <td>{{Constants.D_multiplier}} </td>
        </tr>
    </table> 
    </p>


{% endblock %}
